@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color:#151515;
    --text-color:#fdfdfd;
    --main-color:#6e6e6e;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0, 0, 0, 0.281);
}

.dark-mode {
    --bg-color:#ffffff;
    --text-color:#000000;
    --shadow-color:rgba(0,0,0,.7);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
*::-webkit-scrollbar{
    height: .5rem;
    width: .4rem;
    border-radius: 50px;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color:var(--main-color);
    border-radius: 75px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    background: transparent;
    transition: 0.5s;
}
.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}
.logo{
    font-size: 3.5rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.2rem;
    position: relative;
}
.header .navbar a{
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 700;
    margin-right: 3.2rem;
    position: relative;
}
.header .navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--white-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.header .navbar a:hover::after{
    width: 100%;
}

.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a:hover{
    color: var(--main-color);
}
.header.sticky #darkMode-icon{
    color: var(--text-color);
    opacity: 0.9;
}
.header.sticky #darkMode-icon:hover{
    color: var(--main-color);
}
.header.sticky .navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.header.sticky .navbar a:hover::after{
    width: 100%;
}

#darkMode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
    margin-right: -4rem;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home{
    display: flex;
    align-items: center;
}
.Home-content{
    max-width: 44rem;
    justify-content: center;
    align-items: center;
}
.Home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
    pointer-events: none;
}
.Home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom:0rem;
    margin-top: 2rem;
    pointer-events: none;
}
.Home-content h1 span{
    color: var(--main-color);
    margin-right: 1.5rem;
}

.Home-content p{
    font-size: 1.6rem;
    pointer-events: none;
    margin-bottom: 1rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    color: var(--main-color);
    margin:2.5rem 1.5rem 3rem 0 ;
    transition: .5s ease;
    font-size: 40px;
}
.social-media a i{
    font-size: 2rem;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.btn{
    display: inline-block;
    border: .2rem solid transparent;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.7rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 863px;
    height: 863px;
    overflow: hidden;
    pointer-events: none;
    overflow: hidden;
}
.moon{
    position:absolute;
    height: 38vw;
    width: 38vw;
    filter: drop-shadow(1rem 1rem 1rem #fff);
}
.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    margin-right: -15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
    overflow: hidden;
}

@keyframes professionRotate {
    0%,20% {
        transform: rotate(0deg);
    }
    25%,45% {
        transform: rotate(-90deg);
    }
    50%,70% {
        transform: rotate(-180deg);
    }
    75%,95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.home .profession-box .profession{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    color: #000;
    transform: rotate(calc(360deg/4*var(--i)));
    transform-origin: 384px;
    left: 0;
    background: transparent;
    padding: 13px 0;
}
.home .profession i{
    font-size: 3.8rem;
}
.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
    pointer-events: none;
}
.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}
.home .profession-box .profession:nth-child(1){
    margin-right: 15px;
}
.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
    padding-bottom: 20px;
}
.home .profession-container .overlay{
    position: absolute;
    margin-right: -15rem;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;                                   
    border-top: 384px solid #000;
    border-right: 384px solid #000;
    border-bottom: 490px solid #000;
    border-left: 384px solid transparent;
}
.Home-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 119rem;
    width: 62rem;
    padding-top: 5rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    pointer-events: none;
}

#darkMode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
    margin-right: -4rem;
}
.logo-img{
    width: 7rem;
    height: 7rem;
    filter: opacity(.7);
    margin-left: -2rem;
    margin-right: 15px;
    border-radius: 50%;
}
.bgblog1{
    position: absolute;
    margin-top: -20vw;
    margin-left: -8vw;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--main-color);
    filter: blur(10rem);
}
.bgblog2{
    position: absolute;
    margin-bottom: -45vw;
    margin-left: 10vw;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--main-color);
    filter: blur(20rem);
}
.bgblog3{
    position: absolute;
    margin-top: -20vw;
    margin-left: 45vw;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--main-color);
    filter: blur(10rem);
}